<html>
<head>
  <title>
        Dashboard
    </title>
  <link rel="stylesheet" href="static/src/dashboard.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2 class="mb-3 text-2xl font-bold">Dashboard</h2>
            <nav class="main-nav">
            <ul class="main-nav-ul">
                <li><a href='{% url "dashboard" %}'><i class="fas fa-home" class="mb-3 text-4xl font-bold"></i>Home</a></li>
                <li><a href='{% url "profile" %}'><i class="fas fa-user" class="mb-3 text-4xl font-bold"></i>Profile</a></li>
                <!-- <li><a href="#"><i class="fas fa-solid fa-chart-line"class="mb-3 text-4xl font-bold"></i>Analysis</a></li>  -->
                <li><a href='{% url "prompt" %}'><i class="fas fa-solid fa-chart-line"class="mb-3 text-4xl font-bold"></i>Prompt</a></li>     
                <li><a href='{% url "login" %}'><i class="fas fa-sign-out-alt" class="mb-3 text-4xl font-bold"></i>Logout</a></li>
            </ul>
            </nav>
    </div>
    <div class="main_content">
        <div class="header">
            <h2 class="mb-3 text-4xl font-bold">BRAND BUILDER</h2>
        </div> 
        <!-- <div class="script"> 
        <input
              type="text" placeholder="Enter your Idea's & Thought's"
              class="w-full p-2 border border-gray-300 rounded-md placeholder:font-light placeholder:text-gray-500"
              name="idea"
              id="idea">
          
          </div> -->
    </div>
</div>
</body>
</html>