{% extends 'base.html' %}

{% load compress %}
{% load static %}

{% block content %}



<html>
<head>
  <title>
        Prompt
    </title>
  <link rel="stylesheet" href="static/src/dashboard.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Custom CSS for hiding scrollbar */
        .hide-scrollbar::-webkit-scrollbar {
            width: 0 !important;
        }

        .hide-scrollbar {
            scrollbar-width: none;
        }
    </style>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2 class="mb-3 text-2xl font-bold">Prompt</h2>
            <nav class="main-nav">
            <ul class="main-nav-ul">
                <li><a href='{% url "dashboard" %}'><i class="fas fa-home" class="mb-3 text-4xl font-bold"></i>Home</a></li>
                <li><a href='{% url "profile" %}'><i class="fas fa-user" class="mb-3 text-4xl font-bold"></i>Profile</a></li>
                <!-- <li><a href="#"><i class="fas fa-solid fa-chart-line"class="mb-3 text-4xl font-bold"></i>Analysis</a></li>  -->
                <li><a href='{% url "prompt" %}'><i class="fas fa-solid fa-chart-line"class="mb-3 text-4xl font-bold"></i>Prompt</a></li>     
                <li><a href='{% url "login" %}'><i class="fas fa-sign-out-alt" class="mb-3 text-4xl font-bold"></i>Logout</a></li>
            </ul>
            </nav>
    </div>
    <div class="main_content">
        <div class="header">
            <h2 class="mb-2 text-2xl font-bold">BRAND BUILDER</h2>
        </div> 




        <div class="flex flex-wrap ">

            <div id="opmodal" class="modal">
                <div class="flex flex-row"> <!-- Wrap responses in a horizontal container -->
                    {% for res in response %}
                    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-10 ml-10 hide-scrollbar"
                        style="padding: 5px; margin-top: 10px; margin-left: 10px;overflow-y:  scroll; height: 300px; resize: none; ">
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ res.message.content }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
    
        </div>

















        <form method="POST">
            {% csrf_token %}
            <label for="chat" class="sr-only">Your message</label>
            <div class="flex items-center px-3 py-2 rounded-lg bg-gray-50 dark:bg-gray-700 fixed bottom-0 left-0 right-0 flex justify-center "
                style="left: 250px; bottom: 40px; right: 90px; ">
                <textarea id="chat" name="prompt" rows="1"
                    class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Your message..."></textarea>
                <button type="submit" id='submitbtn'
                    class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
                    <svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 18 20">
                        <path
                            d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z" />
                    </svg>
                    <span class="sr-only">Send message</span>
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>


{% endblock content %}