{% extends 'base.html' %}

{% load compress %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'src/output.css' %}">

<body>

    <!-- <button onclick="location.href='{% url 'logout' %}'" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" style="position: fixed; top: 20px; right: 20px;">Logout</button> -->

    <div class="flex flex-wrap ">

        <div id="opmodal" class="modal">
            <div class="flex flex-row"> <!-- Wrap responses in a horizontal container -->
                {% for res in response %}
                <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-10 ml-10"
                    style="padding: 5px; margin-top: 10px; margin-left: 10px;overflow-y:  scroll; height: 300px; resize: none; ">
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ res.message.content }}</p>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
<form method="POST" class="max-w-sm mx-auto ml-30" style="margin: 30 30px 0 300px;" >
{% csrf_token %}


  <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">What is your brand’s purpose? </label>
  <textarea id="message" rows="2" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name='q1' placeholder="Leave a comment..." required></textarea>

<label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">What is your Unique Selling Proposition (USP)?</label>
  <textarea id="message" rows="2" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name='q2' placeholder="Leave a comment..." required></textarea>

  <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">What emotions do you want your brand to evoke?</label>
  <textarea id="message" rows="2" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name='q3' placeholder="Leave a comment..." required></textarea>

 <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
              Generate
          </button>

</form>

</body>

</html>

{% endblock content %}
